

header{
    // border: solid 2px red;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #001B2F 0%, #005695 100%);
    
}

.boxLogo{
//    border: solid 2px red;
   width: 25vw;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   h1{
    color: white;
    font-size: 25px;
    
   }
}

.boxMenu{
    // border: solid 1px red;
    width: 35vw;
    
    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        a{
            color: white;
            

        }
    }
}

.boxInput{
    border: solid 2px white;
    width: 19vw;
    margin-right:22px ;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 17px;
    input{
        outline: none;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 14px;
        padding-left: 6px;
        width: 12vw;
        &::placeholder{
            color: white;
        }
    }
}





// -----------------------RESPONSIVO-----------------------






@media(max-width:1170px){
   
    .boxLogo{
        // border: solid 2px red;
        width: 28vw;
        h1{
            font-size:2.2vw ;
        }
        img{
            width: 5vw;
        }
    }
    .boxInput{
        input{
            &::placeholder{
                font-size:1.1vw ;
            }
        }
       
    }
    .boxMenu{
        // border: solid 2px green;
        ul{
        
                font-size: 1.7vw;
        
            
        }
    }
}

@media (max-width:780px){
    header{
        flex-direction: column;
        height:30vh ;
        justify-content: space-around;
    }
    .boxInput{
        display: none;
    }
    .boxMenu{
        width: 100%;
        ul{
        
               justify-content: space-evenly;
               font-size: 18px;
        
            
        }
    }
    .boxLogo{
        width: 80%;
        h1{
            font-size: 25px;
        }
        img{
            width: 7vw;
        }
    }
}